.column {
	column-count: 4;
	margin: 0 auto;
	display: block;
}

.group {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 500px;
    height: 100px;
    background-color: grey;
}
.caption {
    display: block;
}