
#group {
  text-align: center;
  font-size: 40px;
  font-family: Arial;
}




div#item { //groups of 5
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
   
    width: 170px; //ideal width to ensure groups are centered
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

}

div#itemc { //groups of 4
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
   
    width: 224px; //ideal width to ensure groups are centered
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

}


#item img {
    width: 150px;
    height: 150px;
}

#itemc img {
    width: 170px;
    height: 170px;
}

#caption {
    display: block;
    font-size: 13px; //font may be too small, might change later depending on bio lengths
    font-family: calibri; 
    text-align: justify;
}

#coord {
  //border: 2px solid #333333;
}

#name { //group headings
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
}

#Q1 {
  display: block;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-align: justify;
}